body {
	background: #188fbb;
	font: 100%/1.2 Helvetica, Arial, sans-serif;
	background: url(../bgm.png) center center repeat;
	margin: 0;
	padding: 0;
}
a, a:hover, a:visited {
	color:blue;
	text-decoration:none;
}
#header {
	font: 12px;
	text-align: center;
	width:100%;
	height:50px;
}
#header input {
	width:100px;
	height:15px;
	margin-right:5px;
	padding:5px;
	border: 1px solid #ffffff;
	outline:none;
	box-shadow:inset 0 0px 5px;
	border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
#header input[type="submit"] {
	width:50px;
	height:27px;
	color: #FFF;
    border: 1px solid #999;
	text-shadow: 0px 1px 1px #666;
	text-decoration: none;
    -moz-box-shadow: 0 1px 3px #111;
    -webkit-box-shadow: 0 1px 3px #111;
    box-shadow: 0 1px 3px #111;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
	background: #4d98e5;
    background: -moz-linear-gradient(top, #4d98e5 40%, #6faae7 60%, #5fa0e2 90%, #4d98e5 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#4d98e5), to(#4d98e5), color-stop(0.4, #6faae7), color-stop(0.6, #5fa0e2), color-stop(0.9, #589de3));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d98e5', endColorstr='#4d98e5', GradientType=0 );
    cursor: pointer;
	}
#header input[type="submit"]:hover {
	border: 1px solid #fff;
}
#header input[type="button"] {
	min-width:60px;
	width:auto;
	height:27px;
	color: #FFF;
    border: 1px solid #999;
	text-shadow: 0px 1px 1px #666;
	text-decoration: none;
    -moz-box-shadow: 0 1px 3px #111;
    -webkit-box-shadow: 0 1px 3px #111;
    box-shadow: 0 1px 3px #111;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
	background: #4d98e5;
    background: -moz-linear-gradient(top, #4d98e5 40%, #6faae7 60%, #5fa0e2 90%, #4d98e5 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#4d98e5), to(#4d98e5), color-stop(0.4, #6faae7), color-stop(0.6, #5fa0e2), color-stop(0.9, #589de3));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d98e5', endColorstr='#4d98e5', GradientType=0 );
    cursor: pointer;
	}
#header input[type="button"]:hover {
	border: 1px solid #fff;
}
#header input:focus {
	box-shadow: 0 0 10px #4d98e5;
	webkit-transition: all .5s ease-in-out 1s;
    -o-transition: all .5s ease-in-out 1s;
    -moz-transition: all .5s ease-in-out 1s;
    transition: all .5s ease-in-out 1s;
}
#container {
	width:900px;
	min-height:500px;
	height:auto;
	margin:0 auto;
}
#container h1 {
	font-size:48px;
	color:#4d98e5;
	text-shadow: 0px -3px 3px #000;
}
#container  input {
	width:400px;
	height:25px;
	margin-right:5px;
	padding:5px;
	border: 1px solid #ffffff;
	outline:none;
	box-shadow:inset 0 0px 5px;
	border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
#container input:focus {
	box-shadow: 0 0 10px #4d98e5;
	webkit-transition: all .5s ease-in-out 1s;
    -o-transition: all .5s ease-in-out 1s;
    -moz-transition: all .5s ease-in-out 1s;
    transition: all .5s ease-in-out 1s;
}
#container input[type="submit"] {
	width:60px;
	height:40px;
	color: #FFF;
    border: 1px solid #999;
	text-shadow: 0px 1px 1px #666;
	text-decoration: none;
    -moz-box-shadow: 0 1px 3px #111;
    -webkit-box-shadow: 0 1px 3px #111;
    box-shadow: 0 1px 3px #111;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
	background: #4d98e5;
    background: -moz-linear-gradient(top, #4d98e5 40%, #6faae7 60%, #5fa0e2 90%, #4d98e5 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#4d98e5), to(#4d98e5), color-stop(0.4, #6faae7), color-stop(0.6, #5fa0e2), color-stop(0.9, #589de3));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d98e5', endColorstr='#4d98e5', GradientType=0 );
    cursor: pointer;
	}
#container input[type="submit"]:hover {
	border: 1px solid #fff;
}
#container textarea {
	width: 600px;
	height:200px;
	border: 1px solid #fff;
	box-shadow:inset 0 0px 5px;
	border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
	outline:none;
}
#container textarea:focus {

	box-shadow: 0 0 10px #4d98e5;
}
#container .navigation_tag {
	width:50px;
	height:20px;
	padding:5px;
	float:left;
	margin-right:5px;
	border:1px solid #ffffff;
	-webkit-border-top-left-radius: 5px;
	-moz-border-top-left-radius: 5px;
	border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
	background: #d2d2d2;
    background: -moz-linear-gradient(top, #d2d2d2 40%, #eeeeee 60%, #dfe0e0 90%, #e2e2e2 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#d2d2d2), to(#d2d2d2), color-stop(0.4, #eeeeee), color-stop(0.6, #dfe0e0), color-stop(0.9, #e2e2e2));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2d2d2', endColorstr='#d2d2d2', GradientType=0 );
    cursor: pointer;
}
#container .navigation_active {
	background: #4d98e5;
    background: -moz-linear-gradient(top, #4d98e5 40%, #6faae7 60%, #5fa0e2 90%, #4d98e5 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#4d98e5), to(#4d98e5), color-stop(0.4, #6faae7), color-stop(0.6, #5fa0e2), color-stop(0.9, #589de3));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d98e5', endColorstr='#4d98e5', GradientType=0 );
}
#container .navigation_tag:hover {
	border:1px solid #000000;
	border-bottom:0px;
}
.span10 {
	height:10px !important;
}
.span60 {
	height:60px !important;
}
.divheader {
	background: #4d98e5;
    background: -moz-linear-gradient(top, #4d98e5 40%, #6faae7 60%, #5fa0e2 90%, #4d98e5 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#4d98e5), to(#4d98e5), color-stop(0.4, #6faae7), color-stop(0.6, #5fa0e2), color-stop(0.9, #589de3));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d98e5', endColorstr='#4d98e5', GradientType=0 );
	-webkit-border-top-left-radius: 5px;
	-moz-border-top-left-radius: 5px;
	border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
	border: 1px solid #4d98e5;
}